body {
  font-family: Franklin Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #d7e1ec;
  color: #26282a;
}
/****************************** NAVBAR-Section Start *****************************/
.navbar-scroll {
  /* position: fixed !important; */
  top: 0% !important;
  right: 0;
  left: 0;
  z-index: 779 !important;
  background-color: #fff !important;
  padding: 0px 0;
  z-index: 44;
  transition: all 0.25s ease;
  /* box-shadow: 0 0 6px #c0c0c0; */
}

.header {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
  position: relative;
  width: 100%;
  background-color: white;
}

.header-inner {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 44;
  left: 0;
}

.navbar-brand {
  color: #000;
  font-weight: 600;
  text-transform: lowercase;
  font-size: 1.3rem;
  text-decoration: none;
  color: #000a14;
  /* letter-spacing: 0.2rem; */
}
.navbar-brand img{
    color: #000;
    height: 50px;
}
/* .navbar-brand:hover {
  color: #dc3545;
} */

.navbar-nav .nav-item {
  position: relative;
}

.nav-item .nav-link {
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  padding: 18px 10px;
  transition: 0.4s ease;
}

.github-star{
    border-radius: 4px;
    border: solid 1px #fff;
    color: #fff;
    font-size: .77rem;
    display: flex;
    min-width: 116px;
    border-color: #140152;
    color: #000a14;
}

.github-star-right{
    padding: 6px 12px;
    min-width: 74px;
    text-decoration: none;
}

.github-star-count{
    padding: 6px 12px;
    border-left: solid 1px #fff;
    border-color: #140152;
    text-decoration: none;
}
}

.header-btn {
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 8px 17px;
  border-radius: 3px;
  color: #fff;
}

.header-btn:hover {
  border: 1px solid #dc3545;
  color: #dc3545;
  text-decoration: none;
  background-color: transparent;
}

@media only screen and (min-width: 1200px) {
  .nav-item .nav-link {
    padding: 25px 18px !important;
  }
}

@media only screen and (max-width: 992px) {
  .header-inner {
    position: absolute;
    box-shadow: 0 0 6px #c0c0c0;
    width: 100%;
    top: 0 !important;
    z-index: 44;
    left: 0;
  }
}

/****************************** Navbar-Section END *****************************/

/****************************** Slider-Section *********************************/

intro-section,
.intro-section .container .row {
  height: 100vh;
  min-height: 840px;
}
.intro-section {
  position: relative;
}

.intro-section:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 70%;
  top: 0;
  left: 0;
  /* background: linear-gradient(135deg, #538FFB, #5B54FA); */
  background: linear-gradient(135deg, #253898, #5737D6);
  border-bottom-right-radius: 200px;
}

.intro-section h1 {
  font-size: 3rem;
  font-weight: 500;
  /* text-transform: uppercase; */
  color: #fff;
}

.intro-section p {
  color: white;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  max-width: 400px;
}

.custom-owl-carousel .owl-custom-direction a {
  z-index: 1;
  display: inline-block;
  padding: 15px 26px;
  position: relative;
  background: #dc3545;
  float: left;
}

.custom-owl-carousel .owl-custom-direction a:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.custom-owl-carousel .owl-custom-direction a:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.custom-owl-carousel .owl-custom-direction {
  position: absolute;
  bottom: -20px;
  z-index: 9;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.custom-owl-carousel .owl-custom-direction a i {
  color: white;
}

.custom-owl-carousel .slide-one-item-alt {
  border-top-left-radius: 200px;
  overflow: hidden;
  -webkit-box-shadow: 0 30px 100px -20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 30px 100px -20px rgba(0, 0, 0, 0.4);
}

.slide-one-item-alt img {
    object-fit: fill;
  width: 100%;
  height: 100%;
  
}

/****************************** Slider-Section END *******************************/

/******************************** HamBurger Animation ****************************/

.navbar-toggler:focus,
.navbar-toggler,
.navbar-toggler-icon,
.navbar-toggler-icon:focus {
  border: 0px solid transparent !important;
  box-shadow: none !important;
  outline: none !important;
}

#nav-icon1 {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 5px auto 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 4px;
  background: #000;
  border-radius: 2px;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
  width: 100%;
}

#nav-icon1 span:nth-child(2) {
  top: 9px;
  width: 90%;
}

#nav-icon1 span:nth-child(3) {
  top: 18px;
  width: 80%;
}

#nav-icon1.ham-open span:nth-child(1) {
  top: 9px;
  width: 100%;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.ham-open span:nth-child(2) {
  opacity: 0;
  right: -30px;
  width: 100%;
}

#nav-icon1.ham-open span:nth-child(3) {
  top: 9px;
  width: 100%;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);

}

/******************************** HamBurger Animation END ****************************/

/************************************* Vacancies at Devtron **************************/
.jobs{
  height: 100%;
  width: 100vw;
  padding-left: 10%;
  padding-right: 10%;
}

.jobs-heading{
  font-size: 1.4rem;
  padding-top: 4rem;
  /* padding-left: 10%; */
  color: #7b7992;
  font-weight: 500;
}
.jobs-upper, .jobs-lower{
  display: flex;
  justify-content: space-between;
}
.jobs-lower{
  margin-top: 20px;
}

.jobs-text p{
  font-size: 2rem;
  padding-bottom: 4rem;
  /* padding-left: 10%; */
  padding-right: 10%;
}
.jobs-card{
  height: 38vh;
  width: 36vw;
  border: 1px solid #7b7b7b;
  padding: 2%;
  border-radius: 10px;
  transition: all 500ms;
}
.jobs-card:hover{
  cursor: pointer;
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
  border: 1px solid #062744;
  /* border: none; */
  transform: translateY(-2%);
  transition: all 500ms;
  padding: 2%;
}
.job-intro{
  line-height: 1vh;
}
.job-intro span{
  display: flex;
}
.job-intro span h3{
  font-size: 1.6rem;
}
.job-intro span img{
  height: 2rem;
  width: 2rem;
  margin-left: 10px;
}
.jobs-count{
  margin-top: 10px;
  line-height: 1vh;
}

.more-btn{
  text-align:center;
  padding: 10px;
  margin: 3rem;
  height: 6vh;
  width: 10vw;
  border: 1px solid black;
  border-radius: 16px;
  cursor: pointer;
}
.more-btn:hover{
  background-color: #000a14;
  color: #fff;
}

@media only screen and (max-width: 540px){
  .jobs{
    padding:0px 0px;
  }
  .jobs-heading{
    font-size: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
  }
  .jobs-text p{
    font-size: 1.4rem;
    padding-left:2rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  .jobs-upper, .jobs-lower{
    display: block;
    padding-left: 2rem;
  }
  .jobs-lower{
    margin: 0;
  }
  .jobs-card{
    height: 34vh;
    width: 80vw;
    border: 1px solid #7b7b7b;
    padding: 4%;
    border-radius: 10px;
    transition: all 500ms;
    overflow-y: hidden;
    margin-bottom: 10px;
  }
  .jobs-card:hover{
    padding: 4%;
  }

  .job-intro span h3{
    font-size: 1rem;
    font-weight: 600;
  }
  .job-intro span img{
    height: 1.3rem;
    width: 1.3rem;
    margin-left: 10px;
  }
  .more-btn{
    text-align:center;
    padding: 2%;
    margin: 2rem;
    height: 6vh;
    width: 50vw;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;
  }
}
/*
@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

 @-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
} */
/********************************** Why Devtron Section ******************************/
.why{
  height: 100vh;
  width: 100vw;

}

.why-heading{
  font-size: 1.4rem;
  padding-top: 4rem;
  padding-left: 10%;
  color: #7b7992;
  font-weight: 500;
}

.why-text p{
  font-size: 2rem;
  padding-bottom: 4rem;
  padding-left: 10%;
  padding-right: 10%;
}
.why-values-upper, .why-values-lower{
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
}

.why-values-lower{
  margin-top: 10vh;
}

.left-data, .right-data{
  max-width: 457.136px;
  width: 28.571vw;
  border-image-slice: 1 100%;
  border-left: 2px solid;
  border-right: 0;
  padding-left: 16px;
  border-image-source: linear-gradient(#BA00B4, #1D0AC9);
}
.location-title{
  font-size: 1.2rem;
  font-weight: 500;
}
.line{
  width: 80vw; 
  margin-top: 10vh;
}

@media only screen and (max-width: 540px){
  .why{
    height: 100%;
  }
  .why-heading{
    font-size: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
  }

  .why-text p{
    font-size: 1.4rem;
    padding-left:2rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  .why-values-upper, .why-values-lower{
    padding-left: 2rem;
    padding-right: 2rem;
    display: block;
  }
  .left-data, .right-data{
    width: 80vw;
  }
  .why-values-lower{
    margin-top: 0px;
  }
  .line{
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
/********************************** Why Devtron Section ******************************/


/********************************* Employee Review Section ****************************/
.emp-section{
  height: 100vh !important;
  /* display: flex; */
}
.review-heading{
  font-size: 1.4rem;
  padding-top: 4rem;
  padding-left: 10%;
  color: #7b7992;
  font-weight: 500;
}
.review-text p{
  font-size: 2rem;
  padding-bottom: 4rem;
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (max-width: 540px){
  .review-heading{
    font-size: 1rem;
    padding-left: 2rem;
  }

  .review-text p{
    font-size: 1.4rem;
    padding-left:2rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
 }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
 }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
 }
}

.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
 }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #253898 0%, #5737D6 74%);
  /* box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2); */
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
 }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
 }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
 }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
 }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
 }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
/* .blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
 }
} */

.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
 }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
 }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fd3838;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
 }
}

/********************************* Employee Review Section END ****************************/

/************************************* Gallery Section END ********************************/
.instagram > span {
  font-size: 1.4rem;
  padding-top: 4rem;
  padding-left: 10%;
  color: #7b7992;
  font-weight: 500;
}

.instagram .insta-text p{
  font-size: 2rem;
  padding-bottom: 4rem;
  padding-left: 10%;
  padding-right: 10%;
}

.instagram .images {
  width: 80vw;
  height: 76vh;
  /* border-radius: 10px; */
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  /* display: grid; */
  grid-template-areas:
    "img0 img1 img2 img2"
    "img4 img1 img5 img6"
    "img7 img7 img9 img6";
  /* grid-gap: 1px; */
  cursor: pointer;
}

@media screen and (max-width: 540px){

  .instagram span{
    font-size: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
  }

  .instagram .insta-text p{
    font-size: 1.4rem;
    padding-left:2rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  .instagram .images{
    grid-template-areas:
      "img6 img6"
      "img4 img1"
      "img5 img1";
  }
  .instagram {
    margin-bottom: 4vh;
  }

  .instagram .images {
    width: 90vw;
    height: 90vh;
  }
  .img-3 {
    display: none;
  }
  .img-0 {
    display: none;
  }
  .img-2 {
    display: none;
  }
  .img-7 {
    display: none;
  }
  .img-8 {
    display: none;
  }
  .img-9 {
    display: none;
  }

  .hovered {
    display: none;
  }
}

.images > div {
  position: relative;
  overflow: hidden;
}

.images img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: all 500ms;
}

.img-0 {
  grid-area: img0;
}
.img-1 {
  grid-area: img1;
}
.img-2 {
  grid-area: img2;
}
.img-3 {
  /* grid-area: img3; */
  display: none;
}
.img-4 {
  grid-area: img4;
}
.img-5 {
  grid-area: img5;
}
.img-6 {
  grid-area: img6;
}
.img-7 {
  grid-area: img7;
}
.img-8 {
  /* grid-area: img8; */
  display: none;
}
.img-9 {
  grid-area: img9;
}

.hovered {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
  transition: all 500ms;
  transform: translate(-100%, 0);
  opacity: 0.5;
}

.hovered h1 {
  position: absolute;
  bottom: 0;
  padding-left: 45px;
  color: #fff;
  opacity: 1;
}

.images > div:hover .hovered {
  transform: translate(0, 0);
}

.images > div:hover img {
  transform: scale(1.3);
}


/*************************************** MEDIA QUERY **************************************/

@media only screen and (max-width: 992px) {
  .header-inner {
    padding: 10px 0px !important;
  }

  .nav-item .nav-link {
    color: white !important;
    margin-left: 40px;
    padding: 20px 20px;
  }

  .github-star{
    margin-left: 32px;
    color: #fff;
    border-color: #fff;
  }
  .github-star-count{
    border-color: #fff;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: auto;
    height: 100%;
    background-color: #110d23;
    width: 60%;
    transform: translatex(-100%);
    transition: all ease 0.29s;
  }

  .intro-section:before {
    height: 100%;
    width: 100% !important;
    background: #352961;
    border-bottom-right-radius: 0px !important;
  }

  .intro-section {
    padding-top: 90px !important;
  }
}

.open-nav {
  transform: translatex(0%) !important;
}
