{% load static %}

<div class="jobs">
    <div class="jobs-heading">
        Open to <b>Hire For</b>
    </div>
    <div class="jobs-text">
        <p>Devtron is hiring is for the following profiles</p>
    </div>
    <div class="jobs-upper">
        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3>Sr. DevOps Engineer</h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> Gurgaon, India</p></span>
                        <span><p> Full Time</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 10</p>
                        <p>Experience: 2 yrs</p>
                    </div>
                    <span>Looking for Senior DevOps Engineer for our Gurgaon Office with minimun experience of 2 years. As a Sr.
                        DevOps Engineer, you will work broadly across the software development lifecycle....
                    </span>
                </div>
            </div>
        </div>

        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3>Jr. Frontend Developer</h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> Gurgaon, India</p></span>
                        <span><p>Internship</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 2</p>
                        <p>Experience: 0-1 yrs</p>
                    </div>
                    <span>Frontend Developer with skills in Javascript, HTML, CSS and Bootstrap is required. The Candidates must be having
                        at least these skills and you will be working closely with our Full Stack Developer team....
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="jobs-lower">
        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3>Django Developer</h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> Bangalore, India</p></span>
                        <span><p> Full Time</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 1</p>
                        <p>Experience: 0-1 yrs</p>
                    </div>
                    <span>We are looking for Django Developer having skills in Python, Databases, HTML, CSS and other frontend frameworks. 
                        The candidate is also required to have experience in RHEL and DevOps tools like....
                    </span>
                </div>
            </div>
        </div>

        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3>UI/UX Designer</h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> Work From Home</p></span>
                        <span><p> Part Time</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 4</p>
                        <p>Experience: 1-2 yrs</p>
                    </div>
                    <span>Devtron is hiring UI/UX Designers to work upon our latest products. The candidates must be familiar with tools like Adobe
                        Illustrators, Adobe XD, Figma and Framer. The candidate is also required to....
                    </span>
                </div>
            </div>
        </div>
    </div>

    <center><div class="more-btn">More Jobs</div></center>

    <hr class="line">
</div>