{% load static %}

<div class="jobs">
    <div class="jobs-heading">
        <b>Open</b> to Hire For
    </div>
    <div class="jobs-text">
        <p>Devtron is hiring is for the following profiles</p>
    </div>
    <div class="jobs-upper">
        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3>Sr. DevOps Engineer</h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> Gurgaon, India</p></span>
                        <span><p> Full Time</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 10</p>
                        <p>Experience: 2 yrs</p>
                    </div>
                    <span>Looking for DevOps Senior DevOps Engineer for our Gurgaon Office with minimun experience of 2 years. As a Sr.
                        DevOps Engineer, you will work broadly across the software development lifecycle....
                    </span>
                </div>
            </div>
        </div>

        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3>Sr. DevOps Engineer</h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> Gurgaon, India</p></span>
                        <span><p> Full Time</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 10</p>
                        <p>Experience: 2 yrs</p>
                    </div>
                    <span>Looking for DevOps Senior DevOps Engineer for our Gurgaon Office with minimun experience of 2 years. As a Sr.
                        DevOps Engineer, you will work broadly across the software development lifecycle....
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="jobs-lower">
        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3>Sr. DevOps Engineer</h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> Gurgaon, India</p></span>
                        <span><p> Full Time</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 10</p>
                        <p>Experience: 2 yrs</p>
                    </div>
                    <span>Looking for DevOps Senior DevOps Engineer for our Gurgaon Office with minimun experience of 2 years. As a Sr.
                        DevOps Engineer, you will work broadly across the software development lifecycle....
                    </span>
                </div>
            </div>
        </div>

        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3>Sr. DevOps Engineer</h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> Gurgaon, India</p></span>
                        <span><p> Full Time</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 10</p>
                        <p>Experience: 2 yrs</p>
                    </div>
                    <span>Looking for DevOps Senior DevOps Engineer for our Gurgaon Office with minimun experience of 2 years. As a Sr.
                        DevOps Engineer, you will work broadly across the software development lifecycle....
                    </span>
                </div>
            </div>
        </div>
    </div>

    <center><div class="more-btn">More Jobs</div></center>

    <hr class="line">
</div>