{% load static %}

<div class="jobs">
    <div data-aos="fade-right">
        <div class="jobs-heading">
            Open to <b>Hire For</b>
        </div>
        <!-- <div class="jobs-text">
            <p>Devtron is hiring for the following positions</p>
        </div> -->
    </div>
    <div class="jobs-upper" data-aos="fade-up">
        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3><a style="text-decoration: none; color: black;" href="{% url 'jobs' %}">Technical Lead</a></h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> Gurgaon/Anywhere from India</p></span>
                        <span><p> Full Time</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 1</p>
                        <p>Experience: 7-11 yrs</p>
                    </div>
                    <span>Your key responsibilities would be to Design and implement features spanning across systems in a manner that 
                        satisfies requirements of performance, scale, security and robustness...
                    </span>
                </div>
            </div>
        </div>

        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3><a style="text-decoration: none; color: black;" href="{% url 'jobs' %}">DevOps Developer/Engineer</a></h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> Gurgaon/Anywhere from India</p></span>
                        <span><p>Full Time</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 2</p>
                        <p>Experience: 2+ yrs</p>
                    </div>
                    <span>You will be responsible for, Setting up, maintaining cloud (AWS/GCP/Azure) and kubernetes cluster and automating their 
                        operation, all operational aspects of Devtron including...
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="jobs-lower" data-aos="fade-up">
        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3><a style="text-decoration: none; color: black;" href="{% url 'jobs' %}">Product Marketing Manager</a></h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> Gurgaon/Anywhere from India</p></span>
                        <span><p> Part Time</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 1</p>
                        <p>Experience: 5-8 yrs</p>
                    </div>
                    <span>Key Responsibilities would be : Ability to clearly communicate the product idea to colleagues and leaders, ability to negotiate 
                        Service Level Agreements with internal partners to deliver the product...
                    </span>
                </div>
            </div>
        </div>

        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3><a style="text-decoration: none; color: black;" href="{% url 'jobs' %}">Solution Architect</a></h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> Gurgaon/Anywhere from India</p></span>
                        <span><p> Full Time</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 2</p>
                        <p>Experience: 5+ yrs</p>
                    </div>
                    <span>We are looking for Solution Architect with minimum 5 years of experience for the projects under transformation 
                        program. As a Solution Architect your key responsibilities would be...
                    </span>
                </div>
            </div>
        </div>
    </div>

    <a style="text-decoration: none; color: black;" href="{% url 'jobs' %}"><center><div class="more-btn" data-aos="zoom-in">More Jobs</div></center></a>

    <!-- <hr class="line"> -->
</div>