{% load static %}
<div class="devtron-nav">
    <header>   
        <div class="logo">
          <a href=''>
          <img src="{% static 'images/devtron-logo.svg' %}" alt="logo" />
        </a>
        </div>
        <div class="options">
          <ul>
            <li class="blue"><a href='#home' style='text-decoration: none;color: #fff;'>Home</a></li>
            
            <li style="color: #fff;" class="blue"><a style='text-decoration: none; color: #fff;' href="">Blog</a></li>
            <li style="color: #fff;" class="blue"><a href="{% url 'jobs' %}" style='text-decoration: none;color: #fff;'>Apply</li></a>

            <li>Support</li>
            <li><a style='text-decoration: none; color: inherit;' href="">Community</a></li>
            
            <l1><a href="" target="" class="github-star" style="text-decoration: none;">
                <div class="github-star-right">
                    <img style="height: 17px; width: 17px; margin-right:4px;" src="https://img.icons8.com/ios-glyphs/48/000000/github.png"/>
                    Stars
                </div>
                <div class="github-star-count">
                    <span id="star-count">130</span>
                </div>
            </a>
            </l1>
          </ul>
        </div>
      </header>
</div>

<div class="landing-page">
  <div class="left-half">
    <div class="left-content">
      <div class="left-half-heading">Careers</div>
      <div class="left-half-text">
        <p>Welcome to Devtron. Together, lets bring the revolution in the way world Dev-Operate.</p>
      </div>
    </div>
  </div>

  <div class="right-card">
    <img src="{% static 'images/google-emp.jpeg' %}" alt="" />
  </div>
</div>
