{% load static %}

<div class="why" data-aos="fade-right">
    <div data-aos="fade-right">
        <div class="why-heading">
            Why <b>Choose Devtron</b>
        </div>
        <div class="why-text">
            <p> We place great values and respect for people who work at Devtron. We help people to innovate their craft and provide a 
                Work/life balance. Here's are some of the things we do for our employees. 
            </p>
        </div>
    </div>

    <div class="why-values-upper" data-aos="fade-up">
        <div class="left-data">
            <div class="location-title">
                <p>Office Locations</p>
            </div>
            <div class="location-content">
                <p> Our headquarters in Gurgaon, India is just one of our many office locations. Our presence in cities is growing all 
                    over the globe. We place great values and respect for people who work at Devtron. 
                </p>
            </div>
        </div>
        <div class="right-data">
            <div class="location-title">
                <p>Medical Benefits</p>
            </div>
            <div class="location-content">
                <p> We take care of our hard working employees at Devtron. We bear the expenses of your family's yearly full-body
                    check-up and medications. We place great values and respect for people who work at Devtron. 
                </p>
            </div>
        </div>
    </div>

    <div class="why-values-lower" data-aos="fade-up">
        <div class="left-data">
            <div class="location-title">
                <p>Work/Life Balance</p>
            </div>
            <div class="location-content">
                <p> We offer flexible working hours, generous vacation days each year, and family oriented work policies. We place great 
                    values and respect for people who work at Devtron. 
                </p>
            </div>
        </div>
        <div class="right-data">
            <div class="location-title">
                <p>Equal Career Opportunities</p>
            </div>
            <div class="location-content">
                <p> Devtron Labs is, and always will be, committed to diversity and inclusion. We seek Devtronians from all backgrounds 
                    to join our teams and encourage everyone to bring their authentic, original and best selves to work. 
            </div>
        </div>
    </div>

    <!-- <hr class="line"> -->

</div>